// sidebar
$menuText:#102C4D; //菜单字体颜色
$menuActiveText:#102C4D; //选中菜单字体颜色
$subMenuActiveText:#102C4D; //https://github.com/ElemeFE/element/issues/12951 选中子菜单字体颜色

$menuBg:#ffffff; //菜单整体背景
$menuHover:#DBE2EF; //菜单悬浮变色

$subMenuBg:#F9F7F7; //子菜单背景
$subMenuHover:#DBE2EF; //子菜单悬浮变色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
