<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.tpas.dao.TeacherMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.management.tpas.entity.TeacherMsg">
        <id column="id" property="id" />
        <result column="teacher_name" property="teacherName" />
        <result column="log_name" property="logName" />
        <result column="log_password" property="logPassword" />
        <result column="contact" property="contact" />
        <result column="portrait" property="portrait" />
        <result column="admin_id" property="adminId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_name, log_name, log_password, contact, portrait, admin_id, is_deleted, update_time, create_time
    </sql>

    <select id="selectByLogName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from teacher_msg
        where log_name = #{logName,jdbcType=VARCHAR}
    </select>

    <insert id="save" parameterType="com.management.tpas.entity.TeacherMsg">
        insert into teacher_msg (teacher_name, log_name, log_password, contact, is_deleted, update_time, create_time)
        values (#{teacherName,jdbcType=VARCHAR}, #{logName,jdbcType=VARCHAR},
                #{logPassword,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR},
                #{isDeleted,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>
