<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.AssessmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.Assessment">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="course_quality" property="courseQuality" />
        <result column="paper_quality" property="paperQuality" />
        <result column="intern_quality" property="internQuality" />
        <result column="other_quality" property="otherQuality" />
        <result column="total_quality" property="totalQuality" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.business.tpas.model.AssessmentModel">
        <id column="id" property="id" />
        <result column="teacher_code" property="teacherCode" />
        <result column="teacher_name" property="teacherName" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="course_quality" property="courseQuality" />
        <result column="paper_quality" property="paperQuality" />
        <result column="intern_quality" property="internQuality" />
        <result column="other_quality" property="otherQuality" />
        <result column="total_quality" property="totalQuality" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, semester, school_year, course_quality, paper_quality, intern_quality, other_quality,
        total_quality, update_time, create_time
    </sql>

    <insert id="updateOrInsert">
        INSERT INTO assessment(teacher_id, semester, school_year
        , course_quality, paper_quality, intern_quality, other_quality, total_quality)
        VALUE
        (#{data.teacherId}, #{data.semester}, #{data.schoolYear}
        , #{data.courseQuality}, #{data.paperQuality}, #{data.internQuality}, #{data.otherQuality}
        , #{data.totalQuality})
        ON DUPLICATE KEY UPDATE
        <choose>
            <when test="cType == 1">
                course_quality = VALUES(course_quality)
                , total_quality = VALUES(course_quality) + paper_quality + intern_quality + other_quality
            </when>
            <when test="cType == 2">
                paper_quality = VALUES(paper_quality)
                , total_quality = VALUES(paper_quality) + course_quality + intern_quality + other_quality
            </when>
            <when test="cType == 3">
                intern_quality = VALUES(intern_quality)
                , total_quality = VALUES(intern_quality) + course_quality + paper_quality + other_quality            </when>
            <when test="cType == 4">
                other_quality = VALUES(other_quality)
                , total_quality = VALUES(other_quality) + course_quality + intern_quality + paper_quality            </when>
            <otherwise>
                course_quality = VALUES(course_quality)
                , paper_quality = VALUES(paper_quality)
                , intern_quality = VALUES(intern_quality)
                , other_quality = VALUES(other_quality)
                , total_quality = VALUES(total_quality)
            </otherwise>
        </choose>
    </insert>

    <select id="queryAssessList" resultMap="ModelResultMap">
        SELECT a.id, u.log_name AS teacher_code, u.user_name AS teacher_name, a.semester, a.school_year
        , a.course_quality, a.paper_quality, a.intern_quality, a.other_quality
        , a.total_quality, a.update_time, a.create_time
        FROM assessment a inner join user_msg u on a.teacher_id = u.id
        <where>
            <if test="data.teacherCode != null and data.teacherCode != ''">
                AND a.log_name = #{data.teacherCode}
            </if>
            <if test="data.schoolYear != null and data.schoolYear != ''">
                AND a.school_year = #{data.schoolYear}
            </if>
            <if test="data.semester != null">
                AND a.semester = #{data.semester}
            </if>
            <if test="1==1">
                AND a.is_deleted = 0 AND u.is_deleted = 0
            </if>
        </where>
    </select>

</mapper>