<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.PaperModifyRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.PaperModifyRecord">
        <id column="id" property="id" />
        <result column="paper_id" property="paperId" />
        <result column="apply_type" property="applyType" />
        <result column="apply_id" property="applyId" />
        <result column="major_id" property="majorId" />
        <result column="student_number" property="studentNumber" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="modify_major_id" property="modifyMajorId" />
        <result column="modify_student_number" property="modifyStudentNumber" />
        <result column="modify_semester" property="modifySemester" />
        <result column="modify_school_year" property="modifySchoolYear" />
        <result column="modify_remark" property="modifyRemark" />
        <result column="admin_id" property="adminId" />
        <result column="check_time" property="checkTime" />
        <result column="check_result" property="checkResult" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.business.tpas.model.PaperModifyRecordModel">
        <id column="id" property="id" />
        <result column="paper_id" property="paperId" />
        <result column="apply_type" property="applyType" />
        <result column="apply_id" property="applyId" />
        <result column="major_id" property="majorId" />
        <result column="student_number" property="studentNumber" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="modify_major_id" property="modifyMajorId" />
        <result column="modify_student_number" property="modifyStudentNumber" />
        <result column="modify_semester" property="modifySemester" />
        <result column="modify_school_year" property="modifySchoolYear" />
        <result column="modify_remark" property="modifyRemark" />
        <result column="admin_id" property="adminId" />
        <result column="check_time" property="checkTime" />
        <result column="check_result" property="checkResult" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, paper_id, apply_type, apply_id, major_id, student_number, semester,school_year,remark, is_deleted,
        modify_major_id,modify_student_number,modify_semester,modify_school_year,check_time,modify_remark, check_result,
        admin_id, update_time, create_time
    </sql>

    <select id="selectModifyRecords" resultMap="ModelResultMap">
        select pmr.id, pmr.paper_id, pmr.apply_type, pmr.apply_id, pmr.major_id, pmr.student_number, pmr.semester,pmr.school_year,
        pmr.remark, pmr.is_deleted,pmr.modify_major_id,pmr.modify_student_number,pmr.modify_semester,pmr.modify_school_year,
        pmr.check_time,pmr.modify_remark, pmr.check_result,pmr.admin_id, pmr.update_time, pmr.create_time, m.major_code, m.major_name
        from paper_modify_record pmr inner join major m on pmr.major_id = m.id
        <if test="data.applyName != null and data.applyName != ''">, user_msg um</if>
        <where>
            <if test="data.applyName != null and data.applyName != ''">
                and um.log_name = #{data.applyName}
            </if>
            <if test="data.beginTime != null">
                and pmr.create_time <![CDATA[ <= ]]> #{data.beginTime}
            </if>
            <if test="data.endTime != null">
                and pmr.create_time <![CDATA[ <= ]]> #{data.endTime}
            </if>
            <if test="data.checkResult != null">
                and pmr.check_result in
                <foreach collection="data.checkResult" item="item" index="index" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
            and pmr.is_deleted = 0
        </where>
        order by pmr.create_time DESC
    </select>

    <select id="countModifyRecordByPaperId" resultType="java.lang.Integer">
        select count(*) from paper_modify_record
        where paper_id = #{id}
    </select>

    <update id="batchDeleteByPaperIds" parameterType="java.util.List">
        update paper_modify_record
        set is_deleted = 1
        where 1 = 1
        <foreach collection="ids" item="id" index="index" open=" and paper_id in (" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
