<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.Paper">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="major_id" property="majorId" />
        <result column="student_number" property="studentNumber" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="admin_id" property="adminId" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted"/>
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.business.tpas.model.PaperModel">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_code" property="teacherCode"/>
        <result column="teacher_name" property="teacherName"/>
        <result column="major_id" property="majorId" />
        <result column="major_code" property="majorCode"/>
        <result column="major_name" property="majorName"/>
        <result column="student_number" property="studentNumber" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="admin_id" property="adminId" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted"/>
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, major_id, student_number, semester, school_year, admin_id, remark, is_deleted,update_time, create_time
    </sql>

    <select id="selectPaperInfo" resultMap="ModelResultMap">
        select p.id,p.teacher_id, m.major_name,um.log_name as teacher_code,m.major_code,um.user_name as teacher_name, p.major_id,
        p.semester,p.school_year, p.admin_id,p.remark, p.student_number, p.update_time, p.create_time
        from paper p inner join user_msg um on p.teacher_id = um.id
        inner join major m on m.id = p.major_id
        <where>
            <if test="data.teacherId != null">
                and p.teacher_id = #{data.teacherId}
            </if>
            <if test="data.majorId != null">
                and p.major = #{data.majorId}
            </if>
            <if test="data.semester != null ">
                and p.semester = #{data.semester}
            </if>
            <if test="data.schoolYear != null and data.schoolYear != ''">
                and p.school_year = #{data.schoolYear}
            </if>
            and p.is_deleted = 0
        </where>
        order by p.create_time DESC
    </select>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into paper (teacher_id,major_id,student_number,semester,school_year,admin_id,remark)
        values
        <foreach collection="list" index="index" item="data" separator=",">
        (#{data.teacherId},#{data.majorId},#{data.studentNumber},#{data.semester},#{data.schoolYear},#{data.adminId},#{data.remark})
        </foreach>
    </insert>

    <insert id="insertPaperInfo" >
        insert into paper(major_id,teacher_id,student_number,semester,school_year,admin_id,remark)
        values(#{data.majorId},#{data.teacherId},#{data.studentNumber},#{data.semester},#{data.schoolYear},#{data.adminId},#{data.remark})
    </insert>

    <update id="deletePaperInfos" parameterType="java.util.List">
        update paper
        set is_deleted = 1
        where 1 = 1
        <foreach collection="ids" index="index" item="item" separator="," open="and id in (" close=")">
            #{item}
        </foreach>
    </update>

</mapper>
