<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.PaperScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.PaperScore">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="paper_id" property="paperId" />
        <result column="total" property="total" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="admin_id" property="adminId" />
        <result column="assess_rule_id" property="assessRuleId" />
        <result column="assess_detail" property="assessDetail" />
        <result column="assess_format" property="assessFormat" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.business.tpas.model.PaperScoreModel">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_code" property="teacherCode" />
        <result column="teacher_name" property="teacherName" />
        <result column="student_number" property="studentNumber" />
        <result column="paper_id" property="paperId" />
        <result column="total" property="total" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="admin_id" property="adminId" />
        <result column="assess_rule_id" property="assessRuleId" />
        <result column="assess_detail" property="assessDetail" />
        <result column="assess_format" property="assessFormat" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, paper_id, total, semester, school_year, admin_id, update_time, create_time, is_deleted
        , assess_rule_id, assess_detail, assess_format
    </sql>

    <insert id="updateOrInsert">
        INSERT INTO paper_score(teacher_id, paper_id, total, semester
        , school_year, admin_id, assess_rule_id, assess_detail, assess_format)
        VALUE
        (#{data.teacherId}, #{data.paperId}, #{data.total}, #{data.semester}
        , #{data.schoolYear}, #{data.adminId}, #{data.assessRuleId}, #{data.assessDetail}
        , #{data.assessFormat})
        ON DUPLICATE KEY UPDATE assess_detail = VALUES(assess_detail)
        , assess_format = VALUES(assess_format)
        , total = VALUES(total)
        , is_deleted = 0
    </insert>

    <select id="queryScoreList" resultMap="ModelResultMap">
        SELECT s.id, s.teacher_id, s.paper_id, s.total, s.semester, s.school_year, s.admin_id
        , s.update_time, s.create_time, s.assess_rule_id, s.assess_detail, s.assess_format
        , u.user_name AS teacher_name
        , u.log_name AS teacher_code
        , p.student_number AS student_number
        FROM paper_score s LEFT JOIN user_msg u ON s.teacher_id = u.id
        LEFT JOIN paper p ON s.paper_id = p.id
        <where>
            <if test="data.teacherCode != null">
                AND u.log_name = #{data.teacherCode}
            </if>
            <if test="data.schoolYear != null">
                AND s.school_year = #{data.schoolYear}
            </if>
            <if test="data.semester != null">
                AND s.semester = #{data.semester}
            </if>
            <if test="1==1">
                AND s.is_deleted = 0
            </if>
        </where>
    </select>

    <select id="countByDataId" resultType="java.lang.Long">
        SELECT count(*)
        FROM paper_score
        WHERE paper_id = #{dataId} AND is_deleted = 0
        LIMIT 1
    </select>
</mapper>
