<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.ParamsRulesSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.ParamsRulesSetting">
        <id column="id" property="id" />
        <result column="c_type" property="cType" />
        <result column="c_num" property="cNum" />
        <result column="c_option" property="cOption" />
        <result column="rules_setting_ids" property="rulesSettingIds" />
        <result column="value_type" property="valueType" />
        <result column="column_name" property="columnName" />
        <result column="param_value" property="paramValue" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.business.tpas.model.ParamsRulesSettingModel">
        <id column="id" property="id" />
        <result column="c_type" property="cType" />
        <result column="c_num" property="cNum" />
        <result column="c_option" property="cOption" />
        <result column="rules_setting_ids" property="rulesSettingIds" />
        <result column="value_type" property="valueType" />
        <result column="column_name" property="columnName" />
        <result column="param_value" property="paramValue" />
        <result column="remark" property="remark" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, c_type, c_num, c_option, rules_setting_ids, value_type, `column_name`, param_value
        , remark, is_deleted, update_time, create_time, c_type
    </sql>

    <select id="queryParamsRulesSetting" resultMap="ModelResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM params_rules_setting
        <where>
            is_deleted = 0
            <if test="data.cType != null">
                AND c_type = #{data.cType}
            </if>
            <if test="data.cNum != null">
                AND c_num = #{data.cNum}
            </if>
            <if test="data.cOption != null">
                AND c_option = #{data.cOption}
            </if>
        </where>
    </select>

    <select id="getParamsRulesSetting" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM params_rules_setting
        <where>
            is_deleted = 0
            <if test="data.cType != null">
                AND c_type = #{data.cType}
            </if>
            <if test="data.id != null">
                AND id = #{data.id}
            </if>
            <if test="data.cNum != null">
                AND c_num = #{data.cNum}
            </if>
            <if test="data.cOption != null">
                AND c_option = #{data.cOption}
            </if>
        </where>
    </select>

    <insert id="insertModel" parameterType="com.business.tpas.model.ParamsRulesSettingModel">
        INSERT INTO params_rules_setting(c_type, c_num, c_option, rules_setting_ids, value_type, `column_name`, param_value
        , remark) VALUE
        (#{data.cType}, #{data.cNum}, #{data.cOption}
        <choose>
            <when test="data.rulesSettingIds == null"> , ''</when>
            <otherwise>, #{data.rulesSettingIds}</otherwise>
        </choose>
        , #{data.valueType}
        <choose>
            <when test="data.valueType = 1">
                , #{data.columnName}, 0
            </when>
            <otherwise>
                , '', #{data.paramValue}
            </otherwise>
        </choose>
        , #{data.remark})
    </insert>

    <update id="updateModel">
        UPDATE params_rules_setting
        <set>
            <if test="data.cType != null">
                , c_type = #{data.cType}
            </if>
            <if test="data.cNum != null">
                , c_num = #{data.cNum}
            </if>
            <if test="data.cOption != null">
                , c_option = #{data.cOption}
            </if>
            <if test="data.rulesSettingIds != null and data.rulesSettingIds != ''">
                , rules_setting_ids = #{data.rulesSettingIds}
            </if>
            <if test="data.valueType != null">
                , value_type = #{data.valueType}
                <choose>
                    <when test="data.valueType == 1">
                        , `column_name` = #{data.columnName}
                        , param_value = 0
                    </when>
                    <when test="data.valueType == 2">
                        , `column_name` = ''
                        , param_value = #{data.paramValue}
                    </when>
                    <otherwise>
                        , `column_name` = ''
                        , param_value = 0
                    </otherwise>
                </choose>
            </if>
        </set>
        WHERE id = #{data.id} and is_deleted = 0
    </update>

    <update id="deleteModelById">
        UPDATE params_rules_setting
        SET is_deleted = 1
        WHERE id = #{id} and is_deleted = 0
    </update>

    <select id="queryByIdList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM params_rules_setting
        WHERE is_deleted = 0
        <if test="idList != null and idList.size > 0">
            AND id IN
            <foreach collection="idList" separator="," open="(" close=")" index="index" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryByCNumList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM params_rules_setting
        WHERE is_deleted = 0
        <if test="data != null and data.size > 0">
            AND c_num IN
            <foreach collection="data" separator="," open="(" close=")" index="index" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getCNumList" resultType="java.lang.Integer">
        SELECT DISTINCT c_num
        FROM params_rules_setting
        <where>
            is_deleted = 0
            <if test="data.cType != null">
                AND c_type = #{data.cType}
            </if>
        </where>
    </select>

</mapper>
