<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.InternScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.InternScore">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="intern_id" property="internId" />
        <result column="c14_value" property="c14Value" />
        <result column="c15_value" property="c15Value" />
        <result column="total" property="total" />
        <result column="semester" property="semester" />
        <result column="school_year" property="schoolYear" />
        <result column="admin_id" property="adminId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, intern_id, c14_value, c15_value, total, semester, school_year, admin_id, update_time, create_time, is_deleted
    </sql>

</mapper>
