<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.tpas.dao.RuleSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.tpas.entity.RuleSetting">
        <id column="id" property="id" />
        <result column="c_type" property="cType" />
        <result column="value_name" property="valueName" />
        <result column="rule_type" property="ruleType" />
        <result column="left_value" property="leftValue" />
        <result column="right_value" property="rightValue" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, c_type, value_name, rule_type, left_value, right_value, remark, is_deleted, update_time, create_time
    </sql>

    <select id="queryByIdList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM rule_setting
        <where>
            <if test="data != null and data.size > 0">
            AND id IN
                <foreach collection="data" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND is_deleted = 0
        </where>
    </select>

</mapper>