<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.tpas.dao.UserMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.management.tpas.entity.UserMsg">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="log_name" property="logName" />
        <result column="log_password" property="logPassword" />
        <result column="contact" property="contact" />
        <result column="portrait" property="portrait" />
        <result column="roles_name" property="rolesName" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, log_name, log_password, contact, portrait, roles_name, is_deleted, update_time, create_time
    </sql>

    <select id="selectByLogName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from user_msg
        where log_name = #{logName,jdbcType=VARCHAR} AND is_deleted = 0
    </select>

    <update id="updateByLogName" parameterType="com.management.tpas.model.RegisterMsgModel">
        update user_msg
        <set>
            roles_name = #{data.rolesName}
            <if test="data.password != null and data.password != ''">
                , log_password = #{data.password}
            </if>
            <if test="data.contact != null and data.contact != ''">
                , contact = #{data.contact}
            </if>
            <if test="data.portrait != null and data.portrait != ''">
                , portrait = #{data.portrait}
            </if>
        </set>
        where log_name = #{data.logName} and is_deleted = 0
    </update>

    <select id="getUserMsgList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user_msg
        WHERE is_deleted = 0
    </select>

</mapper>
